
<div class="container">
  <div class="row justify-content-center">
    <h1>

    <br>
    <small></small></h1>
    <%= link_to "Back to all scholarships", scholarships_path %>
  </div>
</div>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= @scholarship.name %></h1>
        <p class="lead text-muted text-start"><%= @scholarship.description %></p>
        <p>
          <a href="<%= @scholarship.url %>" target='_blank' class="btn btn-outline-primary my-2">Apply</a>
          <a href="<%= scholarship_path(@scholarship) %>" target='_blank' class="btn btn-outline-secondary my-2">Send</a>
        </p>
        <h1 class="lead text-muted"> Submit materials by: <%= @scholarship.due_date %></h1>
      </div>
    </div>
  </section>
