<!DOCTYPE html>
<html class="h-100">
  <head>
    <%= render 'shared/head' %>

  </head>
<body class="<%= cookies[:theme] %>">
  <% if cookies[:theme] == "light" %>
    <%= link_to "go dark", root_path(theme: "dark") %>
  <% else %>
    <%= link_to "go light", root_path(theme: "light") %>
  <% end %>
  <%= yield %>
</body>


  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <%= render 'shared/navbar' %>
      <%= render 'shared/notices' %>

      <div class="container mt-4 mx-auto">
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/foot' %>
    <%= render 'shared/footer' %>
  </body>
</html>
