<!DOCTYPE html>
<html class="h-100">
  <head>

  <meta property="og:title" content="Fellowships4You❤️ - Competetive Graduate Fellowships all in one place ">
  <meta property="og:image" content="school.jpg">
  <meta property="og:description" content="Over $6 million in awards all in one place--so you can plan, apply, and win.">
  <meta property="og:site_name" content="Fellowships4You❤️"/>
  <meta property="image" content="school.jpg">


    <%= render 'shared/head' %>

  </head>

  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <%= render 'shared/navbar' %>
      <%= render 'shared/notices' %>

      <div class="container mt-4 mx-auto">
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/foot' %>
    <%= render 'shared/footer' %>
  </body>
</html>
